<h1 style="word-wrap: break-word;">
    Thanks for registering {{name}}
</h1>

{{#if book}}
    <p>
        Here is a link to your book
        <a href="https://amazon.com/s?k={{book}}">
        search</a>
    </p>
{{else}}
    <p>
        Read a fucking book
    </p>
{{/if}}